// Font Families
$font-primary: 'Lato', sans-serif;

// font size body
$font-size-body: 1.4rem;

// font size heading
$h1-font-size: 3.6rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

// Color
$color-body: #000000;
$color-primary: #334862;
$color-secondary: #d90429;
$color-third: #ee4266;
$color-hover: #E03C31;
$color-link: #2b2d42;
$color-white: #fff;
$color-white-opacity: rgba(255, 255, 255, 0.8);

// Background
$background-body: #ffffff;
$background-primary: #446084;
$background-second: rgba(0, 0, 0, 0.6);
$background-tertiary: #FE6032;
$background-btn: #FDCC26;
$background-hover: #E03C31;

// Border color
$border-color-primary: #ccc;
$border-color-second: rgba(206, 206, 206, 0.3);