<header class="header">
	<div class="container d-flex h-100">
		<div class="left">
			<strong>ADD ANYTHING HERE OR JUST REMOVE IT....</strong>
		</div>
		
		<div class="right d-flex justify-content-end flex-grow-1 ps-5">
			<ul class="right__nav">
				<li class="menu-item">
					<a href="#" class="menu-item__link">About</a>
				</li>
				
				<li class="menu-item">
					<a href="#" class="menu-item__link">Our Stores</a>
				</li>
				
				<li class="menu-item">
					<a href="#" class="menu-item__link">Blog</a>
				</li>
				
				<li class="menu-item">
					<a href="#" class="menu-item__link">Contact</a>
				</li>
				
				<li class="menu-item">
					<a href="#" class="menu-item__link">FAQ</a>
				</li>
				
				<li class="menu-item">
					<a href="#" class="menu-item__link">
						Wishlist
						<i class="fa-solid fa-heart"></i>
					</a>
				</li>
			</ul>
			
			<div class="right__social">
				<a href="#" class="social-link">
					<i class="fa-brands fa-facebook-f"></i>
				</a>
				
				<a href="#" class="social-link">
					<i class="fa-brands fa-instagram"></i>
				</a>
				
				<a href="#" class="social-link">
					<i class="fa-brands fa-twitter"></i>
				</a>
				
				<a href="#" class="social-link">
					<i class="fa-regular fa-envelope"></i>
				</a>
			</div>
		</div>
	</div>
</header>