<nav class="nav-main position-sticky top-0">
	<div class="container">
		<a class="logo d-flex align-items-center" href="index.html">
			<img src="assets/images/shop.png" alt="logo">
		</a>
		
		<ul class="primary-menu reset-list d-flex flex-grow-1">
			<li class="primary-menu__item">
				<a href="index.html">Home</a>
			</li>
			
			<li class="primary-menu__item">
				<a href="#">Shop</a>
				
				<ul class="sub-menu">
					<li>
						<a href="#">Left Column</a>
					</li>
					
					<li>
						<a href="#">Right Column</a>
					</li>
					
					<li>
						<a href="#">Variations</a>
					</li>
				</ul>
			</li>
			
			<li class="primary-menu__item">
				<a href="#">Blog</a>
			</li>
			
			<li class="primary-menu__item">
				<a href="#">About</a>
			</li>
			
			<li class="primary-menu__item">
				<a href="#">Contact</a>
			</li>
		</ul>
		
		<ul class="second-menu reset-list d-flex">
			<li class="second-menu__item">
				<a class="last__login" href="#">Login</a>
			</li>
			
			<li class="second-menu__item">
				<a class="last__login" href="#">Register</a>
			</li>
			
			<li class="second-menu__item cart">
				<a href="#">
					<span class="title">Cart /</span>
					<span class="price">
						<span class="price__currency">$</span>
						<span class="price__amount">0,00</span>
					</span>
				</a>
				
				<ul class="product-list sub-menu reset-list">
					<li>No products in the cart.</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>