.header {
  &__top {
    padding: 0.6rem 5.5rem;
    color: $color-white;
    background-color: $background-primary;

    ul {
      display: flex;
      @include reset-list();

      ~ ul {
        margin-left: 1.4rem;
        padding-left: 1.4rem;
        border-left: 1px solid $color-white-opacity;
      }

      li {
        a {
          display: inline-block;
          color: $color-white-opacity;

          &:hover {
            color: $color-white;
          }
        }
      }
    }

    .left {
      font-size: 1.2rem;
    }

    .right {
      font-size: 1.28rem;

      &__nav {
        li {
          ~ li {
            margin-left: 1.4rem;

            a {
              position: relative;

              &:before {
                position: absolute;
                content: "";
                width: 1px;
                top: 0;
                left: -0.7rem;
                bottom: 0;
                background-color: rgba(255,255,255,.2);
              }
            }
          }
        }
      }

      &__action {
        .wishlist {
          margin-right: 1.4rem;
        }

        .social {
          &__list {
            a {
              ~ a {
                margin-left: 0.7rem;
              }
            }
          }
        }
      }
    }
  }
  
  .list-social {
    a {
      padding: 0.9rem 1.6rem;
      display: inline-block;
      color: $color-white;
      border-right: 1px solid $border-color-second;
    }
    
    li {
      &:first-child {
        a {
          border-left: 1px solid $border-color-second;
        }
      }
    }
  }
}

.navbar-header {
  padding: 0;
  height: inherit;
  @include grid-columns(24px, 120px 1fr);

  > div {
    height: inherit;
  }

  .logo {
    height: inherit;
  }

  .menu {
    > ul {
      > li {
        position: relative;
        padding: 0 12px;
        
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        > a {
          position: relative;

          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 2px;
            left: 0;
            bottom: -2px;
            background-color: $background-hover;
            @include transition();
          }

          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    ul {
      @include reset-list;
      height: inherit;
      display: flex;

      li {
        position: relative;
        height: inherit;
        @include flex-center-vert;

        a {
          display: block;
        }
      }
    }
  }
}